<%= form_with(model: quote) do |form| %>
  <% if quote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pubyear, style: "display: block" %>
    <%= form.date_field :pubyear %>
  </div>

  <div>
    <%= form.label :quotetext, style: "display: block" %>
    <%= form.text_area :quotetext %>
  </div>

  <div>
    <%= form.label :is_public, style: "display: block" %>
    <%= form.check_box :is_public %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :philosopher_id, style: "display: block" %>
    <%= form.text_field :philosopher_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
