<% if @quote.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @quote, url: quotes_path, method: :post, local: true) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group" style="padding-bottom: 10px;">
    <b>Quote
    <%= f.text_area :quotetext, placeholder: 'Text', class: 'form-control' %>
    <%= f.text_field :comment, placeholder: 'Comment (Optional)', class: 'form-control' %></b>
  </div>


  <div class="form-group" style="padding-bottom: 10px;">
    <b> Author
    <%= f.collection_select :philosopher_id, Philosopher.all, :id, :full_name, { include_blank: true }, class: "form-control" %> </b>
  </div>

  <div class="form-group" style="padding-bottom: 10px;">
    <b>Publication Date
    <%= f.date_field :pubyear, class: 'form-control' %></b>
  </div>

  <div id="categories-container">
    <b> Category
    <% @quote.quote_categories.each do |quote_category| %>
      <%= f.fields_for :quote_categories, quote_category do |ri| %>
        <div class="category-field row mb-2">
          </b>
          <div class="col-auto">
            <%= ri.select :category_id, Category.all.collect { |cat| [cat.category_name, cat.id] }, { include_blank: true }, class: "form-control d-inline-block" %>
          </div>
          <div class="col-auto align-self-end">
            <%= link_to '[-] Remove this category', '#', class: 'remove-category', style: "color: red; text-decoration: none;" %>
          </div>
          <div class="col-auto align-self-end">
            <%= link_to '[+] Add Category', '#', class: 'add-category', style: "color: green; text-decoration: none;" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-check" style="padding-bottom: 10px;">
    <%= f.label :is_public do %>
    Public
    <%= f.check_box :is_public, class: "form-check-input" %>
    <% end %>
  </div>

  <div class="mt-3">
    <%= f.submit 'Upload Quote', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Attach an event listener to detect clicks on the "Remove this category" link
    document.addEventListener('click', function(e) {
      if (e.target && e.target.classList.contains('remove-category')) {
        e.preventDefault();

        const categoryFields = document.querySelectorAll('.category-field');
        if (categoryFields.length > 1) {
          e.target.closest('.category-field').remove();
        }
      }

      if (e.target && e.target.classList.contains('add-category')) {
        e.preventDefault();

        const categoriesContainer = document.getElementById('categories-container');
        const newCategoryField = categoriesContainer.querySelector('.category-field').cloneNode(true);
        newCategoryField.querySelector('select').value = ''; // Reset the selected category
        categoriesContainer.appendChild(newCategoryField);
      }
    });
  });
</script>
