<div id="<%= dom_id quote %>">
  <p>
    <strong>Pubyear:</strong>
    <%= quote.pubyear %>
  </p>

  <p>
    <strong>Quotetext:</strong>
    <%= quote.quotetext %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= quote.is_public %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quote.user_id %>
  </p>

  <p>
    <strong>Philosopher:</strong>
    <%= quote.philosopher_id %>
  </p>

</div>
