<p style="color: green"><%= notice %></p>

<div>
  <h1>Quote</h1>
  <hr />

  <h3>
    <%= @quote.philosopher.full_name %>

    <% if @quote.pubyear.present? %>
      | <%= @quote.pubyear.to_s %>
    <% end %>
  </h3>

  <p><%= @quote.quotetext %> </p>

  <p>
    <b>Comment</b>: <%= @quote.comment.presence || 'n/a' %> <br>

    <b>Posted by </b><%= @quote.user.full_name %><br>
    <b>Categories: </b>
      <% categories = @quote.categories.map(&:category_name).join(', ') %>
      <%= categories %><b> Privacy Status: </b>
      <% if @quote.is_public %>
        <span>Public</span>
      <% else %>
        <span>Private</span>
      <% end %><br>
  </p>

  <hr />
  
  <div class="form-group" style="padding-bottom: 10px;">
  <h4>About Author:</h4>
  <div class= "d-flex justify-content-between">
  <h5><%= @quote.philosopher.full_name %></h5>
  Born: <%= @quote.philosopher.b_year %> Died: <%= @quote.philosopher.d_year || 'n/a' %>
  </div>
  <%= @quote.philosopher.biography %>

</div>
<% if logged_in?%>
  <% if @quote.user_id == current_user.id || is_administrator?%>
    <div>
      <%= link_to "Edit this quote", edit_quote_path(@quote) %> |
      <%= link_to "Back to quotes", quotes_path %>
      <div style="padding-top: 20px;">
        <%= button_to "Delete this Quote", @quote, method: :delete, class: 'btn btn-danger' %>
      </div>
  <% end%>
<% end%>
</div>