<% if flash[:error] %>
    <p class="error" style="color:red;"><%= flash[:error] %></p>
<% end %>

<!-- The sign in page, /login. -->
<h1>Sign in</h1>
<hr/>

<!-- Creates and uses a form in the current login page. -->
<%= form_tag login_path, method: :post do %>
    <!-- Displays a email login entry. -->
    <div class="form-group" style="padding-bottom: 10px;">
        <%= email_field_tag :email, nil, required: true, placeholder: 'Email Address',
        class: 'form-control' %>
    </div>

    <!-- Displays a password login entry. -->
    <div class="form-group" style="padding-bottom: 10px;">
        <%= password_field_tag :password, nil, required: true, placeholder: 'Password',
        class: 'form-control' %>
    </div>
    
    <!-- Login submit button. Runs post/login -->
    <div>
        <%= submit_tag 'Login', class: 'btn btn-primary' %>
    </div>

<% end %>
<br>
<div>
<!-- Gives option to sign up if they don't have an account and selected the wrong button.. -->
  <b>Don't have an account?</b>
  <%= link_to "Sign Up", new_user_path %>
</div>
