<!-- This page is the adminstrator landing page, or admin home. Here we simply display some stats of the database, along side buttons that lead to each table where we can modify or enter values. -->
<!-- At the top here we display any notice that was set on the prior view, likely the login successful notice. -->
<p style="color: green"><%= notice %></p>
<h3>Administrator Landing Page</h3>
<hr/>

<div class="form-group" style="padding-bottom: 10px;">
    <h4>Website Statistics:</h4>
    <p>
        <!-- The amount of registered users, link to manage all users. -->
        Registered Users: <%= User.count %> | <%= link_to "Manage Users", users_path %><br>

        <!-- The amount of quotes, link to manage all quotes. -->
        Quotes: <%= Quote.count %> | <%= link_to "Manage Quotes", quotes_path %><br>

        <!-- The amount of philosophers, link to manage all philosophers. -->
        Authors: <%= Philosopher.count %> | <%= link_to "Manage Authors", philosophers_path %><br>

        <!-- The amount of categories, link to manage all categories. -->
        Categories: <%= Category.count %> | <%= link_to "Manage Categories", categories_path %><br>
    </p>
    
</div>
