<p style="color: green"><%= notice %></p>
<h1>Account Details</h1>
<hr />
<p>
  <div class="mb-3">
    <label class="form-label"><strong>Name:</strong></label>
    <div><%= current_user.full_name %></div>
  </div>


  <div class="mb-3">
    <label class="form-label"><strong>Email:</strong></label>
    <div><%= current_user.email %></div>
  </div>

  <div class="mb-3">
    <label class="form-label"><strong>Current Password:</strong></label>
    <span class="text-danger">ENCRYPTED</span>
  </div>

  <div class="mb-3">
    <label class="form-label"><strong>Account Type:</strong></label>
    <div>
      <% if current_user.is_admin %>
        <span>Administrator</span>
      <% else %>
        <span>Standard User</span>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label"><strong>Status:</strong></label>
    <div><%= current_user.status %></div>
  </div>
</p>

<%= link_to "Edit your account details", edit_user_path(session[:user_id]) %>