<!-- A partial that will display the philosophers in the same way. -->

<div id="<%= dom_id philosopher %>">
  <h3>
    <%= philosopher.full_name %>
  </h3>
  <p>
    <strong>Birth year:</strong>
    <%= philosopher.b_year %>
    <strong> D year:</strong>
    <%= philosopher.d_year %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= philosopher.biography %>
  </p>
</div>
