<div id="<%= dom_id philosopher %>">
  <p>
    <strong>Fname:</strong>
    <%= philosopher.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= philosopher.lname %>
  </p>

  <p>
    <strong>B year:</strong>
    <%= philosopher.b_year %>
  </p>

  <p>
    <strong>D year:</strong>
    <%= philosopher.d_year %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= philosopher.biography %>
  </p>

</div>
