<!-- A partial that will display a form that is used to both create and update a category.-->
<%= form_with(model: category) do |form| %>
<!-- Check for errors. -->
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Display a form to enter the categories name.-->
  <div>
    <%= form.label :category_name, style: "display: block" %>
    <%= form.text_field :category_name, placeholder: 'Name', class: 'form-control' %>
    <br>
  </div>

  <!-- Checks if category is being created. If it is, display submit. If the category is being updated instead, display update. -->
  <% if @category.new_record? %>
	  <%= form.submit 'Submit', class: 'btn btn-primary' %>
  <% else %>
    <%= form.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
<% end %>
